{% extends "layout.html" %}

{% block head %}
      <title>1000 Earths: Admin</title>
{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <ul>
            {% for page in pages %}
            <li><a href='{{ page.path }}'>{{ page.title }}</a>: <a href='{{ page.path}}?edit=True'>Edit</a>: <a href='{{ page.path}}?delete=True'>Delete</a></li>
            {% endfor %}
            <li><a href='/new-page'>New Page</a></li>
        </ul>
      </div>
{% endblock %}

