{% extends "layout.html" %}

{% block head %}
      <title>1000 Earths: Blog</title>
{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">

        <ul class="blog-posts">
            {% for post in posts %}
            {% if session.logged_in or post.published %}
            <li class="blog-post">
            <span title="{{ post.date }}" class="blog-date">{{ post.date|datefmt }}</span>
            <a class="blog-link" href='{{ post.path }}'>{{ post.title }}</a>{% if not post.published %} (unpublished){% endif %}
            <p class="blog-summary">{{ post.summary }}</p >
            </li>
            {% endif %}
            {% endfor %}
            <li class="blog-post">
            </li>
        </ul>
        <div style="font-size: 18px; margin: 0 auto; width: 400px">
            {% if is_last_page %}
            <span >&lt;&lt;</span>
            <span >&lt; Older</span>
            {% else %}
            <a href="/blog?page={{ num_pages }}">&lt;&lt;</a>
            <a href="/blog?page={{ next_page }}">&lt; Older</a>
            {% endif %}
            <span >{{ curr_page }}
            {% if is_first_page %}
            <span >Newer &gt;</span>
            <span >&gt;&gt;</span>
            {% else %}
            <a href="/blog?page={{ prev_page }}">Newer &gt;</a>
            <a href="/blog?page=0">&gt;&gt;</a>
            {% endif %}
        </div>
      </div>
{% endblock %}


