{% extends "layout.html" %}

{% block head %}
      <title>1000 Earths: Blog</title>
{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">

        <ul>
            {% for post in posts %}
            {% if session.logged_in or post.published == "True" %}
            <li>{{ post.date }} - <a href='{{ post.url }}'>{{ post.title }}</a>{% if post.published  == "False"%} (unpublished}{% endif %}</li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
{% endblock %}


