{% extends "layout.html" %}

{% block head %}
<title>{{ post.title }}</title>
{% endblock %}

{% block body %}
    <div class="container theme-showcase blog-post-content" role="main">

      <div class="page-header">
          <span>
          <h1 class="blog-title">{{ post.title }}</h1>
            {% if session.logged_in %}
            <span title="{{ post.date }}" class="blog-date">{{ post.date|datefmt }}</span>
            <a href="?edit=md">Edit Markdown</a>
            <span style="margin-left: 10px"/>
            <a href="?edit=html">Edit HTML</a>
            {% endif %}
        </span>
      </div>
      <div class="content">
          {{ post.html|safe }}
      </div>
  </div>
{% endblock %}


