{% extends "layout.html" %}

{% block head %}
      <title>1000 Earths</title>
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
<form action='/{{ post_path }}' method='POST'>
URL Path:<br>
<input type="text" name="path" value="{{ page.path }}"/>
<input type="hidden" name="old_path" value="{{ page.path }}"/>
<input type="hidden" name="markup" value="{{ markup }}"/>
<br>

{% if markup == 'md' %}
Text (Markdown):<br>
{% else %}
Text (HTML):<br>
{% endif %}
<textarea class="code-text" name="text" cols="100" rows="30">{{ text }}</textarea>

<input type="submit" value="Submit"/>

</form> 
</div>
{% endblock %}


