{% extends "layout.html" %}

{% block head %}
<title>{{ page.title }}</title>
{% endblock %}

{% block body %}
    <div class="container theme-showcase page-content" role="main">

      <div class="page-header">
          <span>
          <h1 class="page-title">{{ page.title }}</h1>
            {% if session.logged_in %}
            <a href="?edit=md">Edit</a></li>
            <a href="?edit=html">Edit HTML</a></li>
            {% endif %}
        </span>
      </div>
      <div class="content">
          {{ page.html|safe }}
      </div>
  </div>
{% endblock %}



